In [1]:
import pandas as pd

### Setup Data

In [2]:
data = {
    'isocode': ['NETZ', 'RME', 'ROT', 'RSD', 'RWT'],
    'name': ['SBB Netz', 'Region Mitte', 'Region Ost', 'Region Süd', 'Region West']
}

sbb_region_data = pd.DataFrame(data=data)

In [3]:
sbb_region_data

    key          name
0  NETZ      SBB Netz
1   RME  Region Mitte
2   ROT    Region Ost
3   RSD    Region Süd
4   RWT   Region West

### Export to csv

In [4]:
sbb_region_data.to_csv( 'sbb_region_data.csv', index=False, encoding='utf-8-sig')